<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="errorlist">
    <li>msg_id
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>user_name
        <ul class="errorlist">
            <li>This field is required.
            </li
            >
        </ul>
    </li>
    <li>msg_text
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>photo_1
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>photo_2
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>photo_3
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>payment<
        ul class="errorlist">
    <li>This field is required.</li>
</ul>
</li>
<li>exp_date
    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
</li>
<li>user_id
    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
</li>
<li>comment
    <ul class="errorlist">
        <li>This field is required.</li>
    </ul>
</li>
</ul>
[
</body>
</html>